<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">-->
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">博客</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <%if(user){%>
                <li><a href="/article/add">发表文章</a></li>
                <li><a href="/user/signout">退出</a></li>

                <%}else{%>
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/signin">登录</a></li>
                <%}%>
            </ul>
            <form action="/?keyword=<%=locals.keyword%>" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="关键字" name="keyword" value="<%=locals.keyword%>">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>
            <%
            if(user){%>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img src="<%=user.avatar%>" style="width: 25px;height: 25px" alt=""></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user.username%><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/signout">退出</a></li>
                    </ul>
                </li>
            </ul>
            <%}
            %>

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <%if(success){%>
            <div class="alert alert-success"><%=success%></div>
            <%}%>
            <%if(error){%>
            <div class="alert alert-danger"><%=error%></div>
            <%}%>